.Top {
  overflow: hidden;
  padding: 10px;
  font-weight: bold;
  text-align: left;
  background-color: #070f2b;
  display: flex;
  align-items: center;
}

.Top-Label {
  color: white;
  font-weight: bold;
  font-size: 25px;
  font-family: Garamond, serif;
  margin-left: 0.5rem;
}

.Divider {
  overflow: hidden;
  padding: 2px;
  background-color: #070f2b;
  display: flex;
}

.Body {
  overflow: hidden;
  padding: 10px 10px;
}

.Button-For-Submit {
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #9290c3;
  border: none;
  border-radius: 15px;
  font-family: "Times New Roman", Times, serif;
  align-self: end;
  width: 5rem;
  margin-left: 5rem;
}

.Button-For-Submit:hover {
  background-color: #182040;
  color: white;
}

.Button-For-Submit:active {
  background-color: black;
  transform: translateY(2px);
}

.Button-For-Add {
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #9290c3;
  border: none;
  border-radius: 15px;
  font-family: "Times New Roman", Times, serif;
  align-self: end;
  width: 5rem;
}

.Button-For-Add:hover {
  background-color: #182040;
  color: white;
}

.Button-For-Add:active {
  background-color: black;
  transform: translateY(2px);
}

.Button-For-AddSubmit {
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #9290c3;
  border: none;
  border-radius: 15px;
  font-family: "Times New Roman", Times, serif;
  width: 5rem;
}

.Button-For-AddSubmit:hover {
  background-color: white;
  color: black;
}

.Button-For-AddSubmit:active {
  background-color: black;
  transform: translateY(2px);
}

.AddSubmit-Button-Container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Close-Button-ForAdd {
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  cursor: pointer;
  align-self: end;
  position: absolute;
  right: 5px;
  top: 5px;
}

.Close-Button-ForAdd:hover {
  background-color: maroon;
  color: white;
}

.Close-Button-ForAdd:active {
  background-color: maroon;
  transform: translateY(2px);
}

.Close-Button {
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  cursor: pointer;
  align-self: end;
}

.Close-Button:hover {
  background-color: maroon;
  color: white;
}

.Close-Button:active {
  background-color: maroon;
  transform: translateY(2px);
}

.Button-ForAdd-Sub {
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  cursor: pointer;
  align-self: end;
}

.Add-For-SubDetails {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #070f2b;
  cursor: pointer;
  align-self: end;
}

.Add-For-SubDetails:hover {
  background-color: darkgreen;
  color: white;
}

.Add-For-SubDetails:active {
  background-color: darkgreen;
  transform: translateY(2px);
}

.Button-Update-Submit {
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #9290c3;
  border: none;
  border-radius: 15px;
  font-family: "Times New Roman", Times, serif;
  align-self: center;
  width: 5rem;
  justify-self: center;
}

.Button-Update-Submit:hover {
  background-color: white;
  color: black;
}

.Button-Update-Submit:active {
  background-color: #1b1a55;
  color: white;
  transform: translateY(2px);
}

.Pagination {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3;
  justify-content: center;
}

.PaginationCN {
  cursor: pointer;
  padding: 1.5rem;
}

.Pagination a {
  color: WHITE;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.Pagination .active {
  background-color: #070f2b;
  color: white;
  border-radius: 5px;
}

.Pagination a:hover:not(.active) {
  background-color: #9290c3;
  border-radius: 5px;
}

.Button {
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #9290c3;
  border: none;
  border-radius: 15px;
  font-family: "Times New Roman", Times, serif;
}

.Button:hover {
  background-color: #182040;
  color: white;
}

.Button:active {
  background-color: black;
  transform: translateY(2px);
}

.App {
  text-align: left;
  background-color: rgba(227, 227, 227, 0.941);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App-Update {
  background-color: #070f2b96;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Read-Area {
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  padding: 25px;
  overflow-x: auto;
  background-color: #9290c3;
  border-radius: 5px;
}

.Read-Area-Label {
  background-color: #070f2b;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.Read-Area-Sub {
  display: grid;
  background-color: rgba(227, 227, 227, 0.941);
  padding: 3px;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  border-bottom: 1.5px solid black;
}

.SubData {
  margin-left: 125px;
}

.Input {
  position: relative;
  width: 100%;
  padding: 5px;
  color: white;
  font-weight: bold;
  max-width: 100%;
  margin: auto;
}

.Input-Text {
  padding: 5px;
  color: black;
  width: 100%;
  box-sizing: border-box;
}

.Input-Label {
  color: black;
  display: inline-block;
  width: 100%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.Total {
  position: relative;
  width: 100%;
  padding: 5px;
  color: black;
  font-weight: bold;
  max-width: 100%;
  margin: auto;
}

.Total-Label {
  color: black;
  width: 100%;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.Total-Value {
  background-color: #9290c3;
  width: 5rem;
  height: 50px;
}
.Update {
  position: relative;
  width: 100%;
  color: black;
  font-size: 15px;
  font-weight: bold;
  max-width: 100%;
  margin: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.Update-Text {
  padding: 5px;
  color: black;
  width: 100%;
  box-sizing: border-box;
}

.Update-Label {
  color: white;
  display: inline-block;
  width: 100%;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.Add {
  position: relative;
  width: 100%;
  color: black;
  font-size: 15px;
  font-weight: bold;
  max-width: 100%;
  margin: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.Add-Text {
  padding: 5px;
  color: black;
  width: 100%;
  box-sizing: border-box;
}

.Add-Label {
  color: white;
  width: 100%;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.App-Add {
  background-color: #070f2b96;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.All-Add-Area {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  padding: 15px;
  background-color: #070f2b;
  position: relative;
  flex-direction: column;
}

.Add-SubDetails {
  display: flex;
}

.All-Input-Area {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  padding: 15px;
}

.All-Update-Area {
  padding: 15px;
  background-color: #070f2b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: rgba(227, 227, 227, 0.941);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
